@import 'node_modules/@jdl2/button/Button.scss';
@import 'node_modules/@jdl2/dialog/Dialog.scss';
@import 'node_modules/@jdl2/input-text/InputText.scss';
@import 'node_modules/@jdl2/sidebar/Sidebar.scss';
@import 'node_modules/@jdl2/table/Table.scss';
@import 'node_modules/@jdl2/selectbox/Selectbox.scss';
@import 'node_modules/@jdl2/sheets/Sheets.scss';
@import 'node_modules/@jdl2/tabs/Tabs.scss';
@import 'node_modules/@jdl2/toast/Toast.scss';
@import 'node_modules/@jdl2/card/Card.scss';
@import 'node_modules/@jdl2/form/Form.scss';
