@import 'base/index';
@import 'modifiers/index';
@import 'objects/index';
@import 'components';

.clickable {
    cursor: pointer;
}

.SvgIcon {
    display: inline-block;
    vertical-align: middle;
}

.SvgIcon svg {
    width: 100%;
    height: 100%;
}
