@import 'base/index';
@import 'modifiers/index';

@import '../components/Button/Button.scss';
@import '../components/Table/Table.scss';
@import '../components/Input/Input.scss';

.clickable {
    cursor: pointer;
}
