@mixin nav-transition($transition-property...) {
    transition-duration: 0.5s;
    transition-property: $transition-property;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.SheetContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-sheet;
}

.Sheet {
    background: $white;
    box-shadow: -4px 0px 8px rgba($black, 0.075);
    display: block;
    height: 100vh;
    padding: $unit * 4;
    position: absolute;
    right: -100%;
    top: 0;
    width: $unit * 54; // 8px * 54 = 432px
    z-index: 10;
    @include nav-transition(right);
    &.is-showing {
        right: 0;
    }
}

.sheet {
    &-enter {
        right: -60px;
        opacity: 0;
        z-index: 2;
        &-active {
            transition: all 500ms;
            transition-timing-function: cubic-bezier(0.025, 1.125, 0.1, 0.97);
            right: 0;
            opacity: 1;
        }
        // when another entering sheet is present, don't scroll it
        + .sheet-leave-active {
            margin-left: 0;
            left: auto;
            opacity: 1;
            box-shadow: -0 0px 0 rgba(0, 0, 0, 0);
        }
    }

    &-leave {
        right: 0;
        opacity: 1;
        z-index: 1;
        &-active {
            transition: all 200ms;
            transition-timing-function: cubic-bezier(0.805, 0.05, 0.955, 0.29); // very slow leaving
            right: -32px;
            opacity: 0;
        }
    }
}

.is-sheet-focused-item {
    box-shadow: 0px 0px 10px $selected-color, 0px 0px 1px $selected-color, 0px 0px 1px $selected-color;
    &:hover {
        box-shadow: 0px 2px 14px $selected-color, 0px 0px 10px $selected-color, 0px 0px 1px $selected-color,
        0px 0px 1px $selected-color;
    }
}

.Sheet-Close {
    cursor: pointer;
}

.Sheet-Menu {
    display: inline-block;
    vertical-align: -24%;
}
