@import "../bootstrap/_less/bootstrap";
@import "stylesheet";
@import "github-light";

aside a.button, header a.button {
  box-sizing: initial;
}

header h1 {
  font-size: 45px;
}

header a.button {
  top: -13px;
}
