.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.flex-none {
    flex: none;
}

.align-center {
    align-self: center;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}
