<div class="row">
    <div class="col-md-12">
        <div class="error-404">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
                Sorry, the requested page was not found!
            </div>
        </div>
    </div>
</div>
