Use React StoryBook to browse and play with the different JDL components.

<p>
    <strong>NOTE:</strong> For people interested in developing and contributing reusable JDL components and styles, please see the <a href="./dev">Developer JDL Components</a>.
</p>

<iframe class="jdl-storybook" src="./storybook/index.html" width="100%" height="700px"/>
