.Placeholder {
    overflow-y: hidden;
}

.Placeholder-text {
    display: inline-block;
    width: 100%;
    height: 12px;
    background: #f0f2f6;
}

.Placeholder-circle {
    display: inline-block;
    fill: #f0f2f6;
    vertical-align: bottom;
}
