.Placeholder {
    overflow-y: hidden;

    .JTable-cell-contents {
        width: 100%;
    }

    .Placeholder-text {
        width: 100%;
        height: 12px;
        background: #f0f2f6;
    }

    .Placeholder-circle {
        fill: #f0f2f6;
    }

}
